nextflow.enable.dsl=2

params {
  species        = 'monodelphis_domestica' // Organism (genus_species)
  build          = 'ASM229v1'              // Assembly name
  ref_dir        = 'ref'                   // Reference genome base directory
  fastq_dir      = 'data/fastq'            // FASTQ file location
  fastq_manifest = 'manifests/U01_Lein-Opossum.tsv'
  out_dir        = 'results'
}

process {

}

profiles {
  // Local cluster
  standard {
    process.executor = 'local'
  }
  // UGE cluster
  uge {
    includeConfig 'config/uge.config'
  }
}