nextflow.enable.dsl=2

params {
  proj_dir    = '/u/scratch/r/rgorzek/intergenome'
  species     = 'mus_musculus'
  build       = 'GRCm39'       // Assembly name
  ref_dir     = 'ref'          // Reference genome base directory
  fastq_dir   = 'data/fastq'   // FASTQ file location
  out_dir     = 'results'
}

process {

}

profiles {
  // Local cluster
  standard {
    process.executor = 'local'
  }
  // UGE cluster
  uge {
    includeConfig 'config/uge.config'
  }
}