nextflow.enable.dsl=2
conda.enabled = true

params {
  // Reference genome
  species        = 'monodelphis_domestica' // Organism (genus_species)
  build          = 'ASM229v1'              // Assembly name
  ref_dir        = 'ref'                   // Reference genome base directory

  // FASTQ input
  fastq_mode     = 'local'                 // 'local' or 'download'
  fastq_dir      = 'data/fastq/test'       // FASTQ file location
  fastq_manifest = 'manifests/U01_Lein-Opossum.tsv'
  download_method = 'aspera'               // 'aspera' (fast) or 'wget' (slow)

  // Output
  out_dir        = 'results'

  // Alignment
  threads        = 8
  read_length    = 100
  star_index     = null                    // Set to path to skip STAR_INDEX
  bc_inclist     = 'ref/10x_v3_bc/3M-february-2018.txt'

  // Intergenic analysis
  min_mapq       = 30                      // Minimum mapping quality for BAM filtering
  bin_width      = 500                     // Histogram bin width (bp)
  min_distance   = -10000                  // Minimum signed distance (bp)
  max_distance   = 10000                   // Maximum signed distance (bp)
}

process {
  conda = "$HOME/.conda/envs/rnaseq"
  withName:STAR_INDEX {
    cpus      = params.threads
    memory    = '48 GB'
    beforeScript = 'source /u/local/Modules/default/init/modules.sh && module load star/2.7.10a'
  }
  withName:STARSOLO_ALIGN {
    cpus   = params.threads
    memory = '24 GB'
    beforeScript = 'source /u/local/Modules/default/init/modules.sh && module load star/2.7.10a'
  }
}

profiles {
  // Local cluster
  standard {
    process.executor = 'local'
  }
  // UGE cluster
  uge {
    includeConfig 'config/uge.config'
  }
}